<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>SeriesEmitidasSV</servlet-name>
        <servlet-class>controladores.SeriesEmitidasSV</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogIn</servlet-name>
        <servlet-class>controladores.LogIn</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomeSE</servlet-name>
        <servlet-class>controladores.HomeSE</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CertCustodiaSV</servlet-name>
        <servlet-class>controladores.CertCustodiaSV</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BackSV</servlet-name>
        <servlet-class>controladores.BackSV</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DefEmisionesSV</servlet-name>
        <servlet-class>controladores.DefEmisionesSV</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FormNumSV</servlet-name>
        <servlet-class>controladores.FormNumSV</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SeriesEmitidasSV</servlet-name>
        <url-pattern>/SeriesEmitidasSV</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogIn</servlet-name>
        <url-pattern>/LogIn</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomeSE</servlet-name>
        <url-pattern>/HomeSE</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CertCustodiaSV</servlet-name>
        <url-pattern>/CertCustodiaSV</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BackSV</servlet-name>
        <url-pattern>/BackSV</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DefEmisionesSV</servlet-name>
        <url-pattern>/DefEmisionesSV</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FormNumSV</servlet-name>
        <url-pattern>/FormNumSV</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            15
        </session-timeout>
    </session-config>
</web-app>
